@import "base-styles.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic);
/*Variables*/
@font-colour:#fff;
@navbar-bk-colour:#0977bc;
@s1-bk-colour: darken(#00ACEE,20%);
@s2-bk-colour: darken(#EF5734,20%);
@s3-bk-colour: darken(#2BAF2B,20%);
@s4-bk-colour: darken(#FFCC2F,20%);
.links(){
	a{
		&:hover{
			color:darken(@navbar-bk-colour,20%);
		}
	}
}
.dropdown-menu(@left){
	position: absolute;
	top: 50px;
	left: @left;
}
.section-body(@height, @background){
	color:@font-colour;
	height:@height;
	background:@background;
}
body{
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-size:16px;
	background:@s1-bk-colour;
}
.title{
	position: relative;
	left: 350px
}
.svg-spi{

	display: block;
	text-indent: -9999px;
	width: 1000px;
	height: 600px;
	background: url("../image/SPI-2.svg");
	background-size: 1000px 700px;
	position: relative;
	bottom:200px;
	right: 60px;
}
.inner{
	width:1200px;
}
* {
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: initial;
}
a{
	&:hover{
		color:@font-colour;
		text-decoration:none;
	}
}
.dropdown{
	.subNavBtn {
		display: block;
		height: 20px;
		width: 10%;
		float: left;
		margin: 0px 0px 0 0;
		text-decoration: none;
		font-size: 14px;
		padding: 15px 2% 15px 2%;
		text-align: center;
		border:0;
		color: #fff;
		background:@navbar-bk-colour;
	}
	button:hover {
		background: #1783c7;
	}
}
.s1-dropdown-menu{
	.dropdown-menu(175px);
}
.s2-dropdown-menu{
	.dropdown-menu(350px);
}
.s4-dropdown-menu{
	.dropdown-menu(675px);
}
.s5-dropdown-menu{
	.dropdown-menu(850px);
}
.s1{
	.section-body(1900px, @s1-bk-colour);
}
.s2{
	.section-body(1600px,@s2-bk-colour);
}
.s3{
	.section-body(700px,@s3-bk-colour);
}
.s4{
	.section-body(2600px,@s4-bk-colour);
}
.section{
	max-width: initial;
	min-width: initial;
	z-index: 0;
}
.panel-body{
	color:#333;
	.links();
}
.row{
	margin-right: initial;
	margin-left: initial;
}
.sticky {
    position: fixed;
    top: 75px;
	width:400px;
	overflow-y: auto;
	-webkit-transition: top 0.3s; /* For Safari 3.1 to 6.0 */
	transition: top 0.3s;
}
.rebalance-main-content{
	bottom: 400px;
	
}
.disappear{
	display: none;
}
.list-balance{
	margin-left:20px;
}
.hide-chart{
	display:none;
}
p{
	.links();
}
.panel-group{
	.links();
}

#overview-4{
	top: 30px;
}
#e-mail{
	position: absolute;
	top: 250px;
	left:45px;
	color:#543729;
	font-family:"Comic Sans MS", cursive, sans-serif;
	a{
		color:#543729;
		font-family:"Comic Sans MS", cursive, sans-serif;
	}
}