@import "base-styles.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic);
/*Variables*/
.test {
  color: #269b26;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  font-size: 16px;
}
.title {
  color: yellow;
}
.before {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url("../image/SPI-logo.svg");
  background-size: 100px 82px;
}
.inner {
  width: 1200px;
}
* {
  /* -webkit-box-sizing: border-box; */
  /* -moz-box-sizing: border-box; */
  box-sizing: initial;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
.dropdown .subNavBtn {
  display: block;
  height: 20px;
  width: 10%;
  float: left;
  margin: 0px 0px 0 0;
  text-decoration: none;
  font-size: 14px;
  padding: 15px 2% 15px 2%;
  text-align: center;
  border: 0;
  color: #fff;
  background: #0977bc;
}
.dropdown button:hover {
  background: #1783c7;
}
.s1-dropdown-menu {
  position: absolute;
  top: 50px;
  left: 175px;
}
.s2-dropdown-menu {
  position: absolute;
  top: 50px;
  left: 350px;
}
.s4-dropdown-menu {
  position: absolute;
  top: 50px;
  left: 675px;
}
.s5-dropdown-menu {
  position: absolute;
  top: 50px;
  left: 850px;
}
.s1 {
  color: #ffffff;
  height: 1900px;
  background: #006288;
}
.s2 {
  color: #ffffff;
  height: 1600px;
  background: #af2c0e;
}
.s3 {
  color: #ffffff;
  height: 700px;
  background: #175d17;
}
.s4 {
  color: #ffffff;
  height: 2600px;
  background: #c89700;
}
.section {
  max-width: initial;
  min-width: initial;
  z-index: 0;
}
.panel-body {
  color: #333;
}
.row {
  margin-right: initial;
  margin-left: initial;
}
.sticky {
  position: fixed;
  top: 75px;
  overflow-y: auto;
  -webkit-transition: top 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: top 0.3s;
}
.rebalance-main-content {
  bottom: 400px;
}
.disappear {
  display: none;
}
.list-balance {
  margin-left: 20px;
}
.hide-chart {
  display: none;
}
.panel-body a:hover,
p a:hover {
  color: #04395b;
}
