@import "base-styles.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic);
/*Variables*/
@font-colour:#fff;
@navbar-bk-colour:#0977bc;
@s1-bk-colour: darken(#00ACEE,20%);
@s2-bk-colour: darken(#EF5734,20%);
@s3-bk-colour: darken(#2BAF2B,20%);
.dropdown-menu(@left){
	position: absolute;
	top: 50px;
	left: @left;
}
.section-body(@height, @background){
	color:@font-colour;
	height:@height;
	background:@background;
}
body{
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-size:16px;
}
.title{
	color:yellow;
}
.before{
	
	display: block;
	text-indent: -9999px;
	width: 100px;
	height: 82px;
	background: url("../image/SPI-logo.svg");
	background-size: 100px 82px;
	
}
.inner{
	width:1200px;
}
* {
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: initial;
}
a{
	&:hover{
		color:@font-colour;
		text-decoration:none;
	}
}
.dropdown{
	.subNavBtn {
		display: block;
		height: 20px;
		width: 10%;
		float: left;
		margin: 0px 0px 0 0;
		text-decoration: none;
		font-size: 14px;
		padding: 15px 2% 15px 2%;
		text-align: center;
		border:0;
		color: #fff;
		background:@navbar-bk-colour;
	}
	button:hover {
		background: #1783c7;
	}
}
.s1-dropdown-menu{
	.dropdown-menu(175px);
}
.s2-dropdown-menu{
	.dropdown-menu(350px);
}
.s1{
	.section-body(1900px, @s1-bk-colour);
}
.s2{
	.section-body(1600px,@s2-bk-colour);
}
.s3{
	.section-body(1500px,@s3-bk-colour);
}
.section{
	max-width: initial;
	min-width: initial;
	z-index: 0;
}
.panel-body{
	color:#333;
}
.row{
	margin-right: initial;
	margin-left: initial;
}
.sticky {
    position: fixed;
    top: 75px;
	overflow-y: auto;
	-webkit-transition: top 0.3s; /* For Safari 3.1 to 6.0 */
	transition: top 0.3s;
}
.rebalance-main-content{
	bottom: 400px;
	
}
.disappear{
	display: none;
}
.list-balance{
	margin-left:20px;
}
